h4{
    color: brown;
    background-color: blanchedalmond;
}

#a{
    color: aqua;
    background-color: black;
}
#a{
    color: palevioletred;
}
.b{
    color: blue;
}
#c{
    color: green;
}
.d{
    color: purple;
}
#e{
    color:palevioletred;
}
.f{
    color:violet ;
}
#g{
    color: yellow;
}
.h{
    color: lightseagreen;
}
#i{
    color:brown;
}
.j{
    color: teal;
}
#k{
    color: palevioletred;
}
.hbs{
background-color: aqua;
}
.ars{
    background-color: aquamarine;
}
.co{
    background-color: burlywood;
}
.pp{
    background-color: lightseagreen;
}
.ss{
    background-color: chartreuse;
}